body {
    background: rgba(128, 128, 128, 0.1);
    font-size: 26px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.divPost {
    width: 35vw;
    background: blue;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    border: 4px solid black;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.key {
    color: yellow;
    font-weight: bold;
}

.title{
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    background: blue;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

.divComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 65vw;
    margin-top: 30px;
}

.divComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: white;
    border: 2px solid black;
    padding: 20px;
}

